.para{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 25px;
    letter-spacing: 1px;
    font-family: 'Libre Baskerville', serif;
    font-weight: bolder;
}
#a{
    font-weight: 400;
    padding: 10px;
    text-align: left;
    margin-left: 20%;
    width: 80%;
}
